* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar {
  background-color: #f1ceda;
}

.navbar img {
  width: 60%;
}
.navbar .btn {
  border: 2px solid #700a49;
  background-color: #ff87b0;
}
.container {
  max-width: 1320px;
  margin: 0 auto;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

#hero .container .left {
  width: 30%;
}
#hero .container .left h2 {
  font-size: 50px;
  color: #700a49;
  line-height: 65px;
  font-weight: 700;
  max-width: 695px;
  margin: 0 auto;
  margin-bottom: 47px;
}
.high-light {
  color: #c20d3a;
}
#hero .container .left p {
  font-size: 16px;
  color: #5c1023;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 48px;
}

.hero-btn .btn_1 {
  background-color: #700a49;
  color: #e0d0da;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding: 8px 32px;
}
.hero-btn .btn_2 {
  border: 3px solid #700a49;
  color: #700a49;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding: 8px 32px;
}

#hero .container .right {
  width: 65%;
}
#hero .container .right img {
  width: 100%;
}
/*------customer-----------------*/
#customar-logo {
  margin-bottom: 80px;
}
#customar-logo .sec_custom {
  width: 1037px;
  margin: 0 auto;
  align-items: center;
}
#customar-logo .sec_custom p {
  text-align: center;
  font-size: 16px;
  color: #5c1023;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}
/*---------------------service -----------------*/

#service .serv_1 h6 {
  color: #ff87b0;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  margin-bottom: 25px;
  padding-top: 60px;
}
#service .serv_1 h2 {
  font-size: 40px;
  color: #700a49;
  line-height: 65px;
  font-weight: 700;
  width: 600px;
  margin-bottom: 38px;
}
#service .serv_1 p {
  font-size: 16px;
  color: #5c1023;
  line-height: 24px;
  font-weight: 500;
  width: 510px;
  margin-bottom: 44px;
}
#service .serv_1 .col img {
  width: 100%;
}
#service .serv_1 a {
  text-decoration: none;
  color: #5c1023;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  margin-right: 30px;
}
#service .link_1 {
  padding-bottom: 9px;
  border-bottom: 3px solid #700a49;
}
#service .link_2 {
  padding-bottom: 9px;
  border-bottom: 3px solid #dbb8cd;
}

#service .serv_1 .play_btn {
  border: 2px solid #700a49;
  width: 24px;
  padding: 5px;
  border-radius: 100%;
  color: #700a49;
}

/*---------------------------------package-------------------*/
#package {
  background-color: #f1ceda;
  padding-top: 40px;
  margin-bottom: 60px;
}
#package .pkg_list h2 {
  font-size: 40px;
  color: #700a49;
  line-height: 65px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
}

#package .pkg_list h5 {
  font-size: 16px;
  color: #5c1023;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
}
#package .pkg_list h3 {
  font-size: 20px;
  color: #700a49;
  line-height: 65px;
  font-weight: 700;
  text-align: center;
}

#package .pkg_list p {
  font-size: 16px;
  color: #5c1023;
  line-height: 24px;
  font-weight: 500;
  text-align: justify;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0 30px;
}
/*--------------content-----------------*/
#content .con_tent img {
  width: 100%;
}
#content .con_tent h2 {
  padding-top: 40px;
  font-size: 40px;
  color: #700a49;
  line-height: 65px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}
#content .con_tent p {
  font-size: 16px;
  color: #5c1023;
  line-height: 24px;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 60px;
}
#content .con_tent button {
  background-color: #700a49;
  color: #e0d0da;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  padding: 8px 32px;
}
/*---------------------main service------------------------------*/
#mainservice {
  margin-bottom: 48px;
}
#mainservice .serv_content {
  padding: 40px 0;
}
#mainservice .serv_content h2 {
  font-size: 40px;
  color: #700a49;
  line-height: 65px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 27px;
}
#mainservice .serv_content p {
  font-size: 16px;
  color: #5c1023;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  width: 667px;
  margin: 0 auto;
  margin-bottom: 30px;
}

#mainservice .servic_list .card {
  background-color: #f1ceda;
  border-radius: 15px;
}

#mainservice .servic_list img {
  width: 100%;
}
#mainservice .servic_list h3 {
  font-size: 25px;
  color: #700a49;
  line-height: 65px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
}
#mainservice .servic_list p {
  font-size: 16px;
  color: #5c1023;
  line-height: 24px;
  font-weight: 500;
  text-align: center;
  width: 347px;
  margin: 0 auto;
  margin-bottom: 30px;
}
#mainservice .servic_list button {
  display: block;
  margin: auto;
  border: 2px solid #700a49;
  border-radius: 9px;
  padding: 8px 17px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #700a49;
  font-size: 18px;
  font-weight: 600;
}
/*-----------------------testimonials -------------*/
#testimonial .testi_content {
  margin-bottom: 80px;
}
#testimonial .container {
  padding: 0 !important;
}

#testimonial h2 {
  font-size: 40px;
  color: #700a49;
  line-height: 65px;
  font-weight: 700;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 50px;
}

#testimonial .lleft img {
  width: 140%;
}
#testimonial .rightt .testi_card p {
  font-size: 18px;
  color: #5c1023;
  line-height: auto;
  font-weight: 500;
  text-align: justify;
  width: 642px;
}
#testimonial .rightt .testi_card .text_h1 {
  font-size: 18px;
  color: #5c1023;
  line-height: 30px;
  font-weight: 600;
}
#testimonial .rightt .testi_card span {
  color: #700a49;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

#testimonial .rightt .testi_card img {
  width: 94px;
  height: auto;
  background-color: #da9bb0;
  border: none;
  border-radius: 100%;
  display: inline-block;

  margin-right: 36px;
}

#testimonial .rightt .testi_card {
  border: none;
  background-color: #f1ceda;
  border-radius: 10px;
  box-shadow: 00 8px 5px 00 gray;
  margin-top: 70px;
  position: relative;
  padding: 66px;
}
#testimonial .rightt .testi_card .group img {
  position: absolute;
  bottom: 331px;
  left: -11px;
  background-color: white;
  width: 70px;
  color: #700a49;
}
#testimonial .rightt .testi_card .group_1 img {
  position: absolute;
  top: 340px;
  right: -34px;
  background-color: white;
  width: 70px;
}

#testimonial .crad_2 .card img {
  width: 94px;
  height: auto;
  background-color: #ff87b0;
  border: none;
  border-radius: 100%;
  align-items: center;
}
#testimonial .crad_2 .card {
  border: none;
  gap: 20px;
  border-radius: 10px;
  margin-bottom: 60px;
}
#testimonial .crad_2 .card h5 {
  color: #700a49;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
#testimonial .crad_2 .card p {
  font-size: 18px;
  color: #5c1023;
  line-height: 28px;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 30px;
}

/*-----------shopping-----------------*/
#shopping .shop_content img {
  display: block;
  margin: auto;
}
#shopping .shop_content button {
  display: block;
  margin: auto;
  background-color: #ffffff;
  border: 2px solid #700a49;
  border-radius: 9px;
  padding: 17px 36px;
  margin-bottom: 30px;
  color: #700a49;
  font-size: 18px;
  font-weight: 600;
}
#shopping .shop_content h2 {
  font-size: 60px;
  color: #700a49;
  line-height: 65px;
  font-weight: 700;
  text-align: center;
}
/*------------------------fotter----------------------------*/
footer {
  background-color: #f1ceda;
  padding: 60px 0;
  margin-top: 78px;
}

footer .flex {
  flex-direction: start;
}

footer .footer_cont .left img {
  width: 60%;
  margin-bottom: 24px;
}
footer .footer_cont .left p {
  font-size: 16px;
  color: #5c1023;
  line-height: 24px;
  font-weight: 500;
  text-align: justify;
  margin-bottom: 40px;
  width: 300px;
}
footer .footer_cont ul {
  display: block;
  text-align: start;
  padding: 0 !important;
}
footer .footer_cont ul li {
  list-style-type: none;
}
footer .footer_cont .left .footer_icon ul a {
  text-decoration: none;
  border: none;
  color: #700a49;
  font-size: 20px;
  background-color: rgb(207, 180, 196);
  border-radius: 100%;
  padding: 8px;
}
footer .footer_cont .right {
  column-gap: 50px;
}

footer .footer_cont .nav_bt h3 {
  color: #700a49;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
footer .footer_cont .nav_bt ul {
  list-style-type: none;
  padding-left: 0 !important;
}
footer .footer_cont .nav_bt ul li {
  margin-bottom: 15px;
}
footer .footer_cont .nav_bt ul li a {
  text-decoration: none;
  color: #5c1023;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

footer .footer_cont .location_content h3 {
  color: #700a49;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
footer .footer_cont .location_content p {
  color: #5c1023;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  width: 321px;
}

footer .footer_cont .contact_content h3 {
  color: #700a49;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}
footer .footer_cont .contact_content p {
  color: #5c1023;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
footer .copy_right {
  text-align: center;
  margin-top: 150px;
}
